* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: black;
    color: #edecec;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smidig övergång */
}

body.light-mode {
    background-color: white !important;
    color: #000 !important;
}

body.light-mode nav a {
    color: #5e5b5b;  
}
.header {
    display: grid;
    justify-items: end;
    background: transparent;
    color: #fff;
    padding: 1rem;
}

.header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5rem;
}

.header a {
    color: #ebebeb;
    padding-right: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.profile-text h1 {
    font-weight: bold;
    bottom: 10rem;
    font-size: 2rem; 
    font-weight: bold; 
    letter-spacing: 2px; 
    color: #fff; 
    text-transform: uppercase;
    line-height: 1.4; 
    text-align: center; 

}

.profile-text p {
    margin-top: 3rem; 
    text-align: center;
    font-size: 0.9rem;  
    letter-spacing: 3px;
    line-height: 2; 
}

#loadCvBtn {
    background-color: #303030; 
    color: white; 
    padding: 15px 30px; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

#loadCvBtn:hover {
    background-color: #58595b; 
    transform: scale(1.05); /* Liten förstoring när man hovrar */
}

#loadCvBtn:active {
    background-color: #000000;
    transform: scale(0.98); /* Liten minskning vid klick */
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 kolumner */
    gap: 2rem; /* gap mellan sektionerna */
}

.profile-image-section, .profile-text-section {
    padding: 1rem; /* Lite inre utrymme i sektionerna */
}

@media(min-width: 768px) {
    .main-grid {
        grid-template-columns: 1fr 1fr;  /* 2 kolumner */
        gap: 2rem; /* Gap mellan sektionerna */
    }

    .profile-content {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 1rem;
        height: 100%;
    }
}

.profile-image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 100%);
    background-color: #333333;
    overflow: hidden;
    height: 100%;
    color: #333333;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5EEE6;
    color:#000;
    padding: 4rem;
    border-radius: 1px;
}

.profile-text .profile-link {
    padding: 0.5rem 1rem;
    align-items: center;
    margin-top: 8rem;
    color: #f1f0f0;
    border-radius: 4px;
}

.project-cards {
    display: grid;
    gap: 2rem;
    border-width: 5px;
    border-color: #ccc;
    max-width: 100%;
    padding: 2rem;
    border-color: #000000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media(min-width: 768px) {
    .project-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
.projects-title {
 margin-left: 38px;
 letter-spacing: 1px;
}

.project-card {
    background-color: #F5EEE6;
    color: #000000;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1rem;
    border-radius: 1px;
    border-width: 20px;
    border-color: #000000;
}

.project-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project-link {
    display: inline-block;
    margin-top: 3rem;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #f0efef;
    text-decoration: none;
    border-radius: 4px;
}

.profile-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0c0b0b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.footer {
    background-color: #f8eee7;
    text-align: center;
    font-size: 16px;
    color: rgb(27, 25, 25); 
    padding: 20px;
    margin-top: 80px;
}

.footer a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    margin: 0 20px;
    display: inline-flex;
    align-items: center;
}

.footer a:hover {
    color: #ff9900;
}

.material-symbols-outlined {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
}

.about-section {
    color: #f1f1f1;
    margin-top: 3rem;
    text-align: center;
    padding: 2rem;
}

.about-section h1{
    margin-bottom: 2rem;
    text-align: center;
}
.contact-section {
    background-color: #F5EEE6; 
    color: #333; 
    padding: 2rem;
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 2rem auto; 
    max-width: 800px; 
  }
  
  .contact-section h1 {
    font-size: 2rem;
    color: #333; 
    margin-bottom: 1rem;
  }
  
  .contact-section p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
  
  .contact-section form {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
  }
  
  .contact-section label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .contact-section input,
  .contact-section textarea {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .contact-section button {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    background-color: #333; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-section button:hover {
    background-color: #555; 
  }

@media (max-width: 768px) {
    .main-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .project-cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 1rem;
    }

    .project-card {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
        padding: 1rem;
    }

    .header {
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
    }

    .header ul {
        display: flex;
        justify-content: flex-start;  
        flex-direction: column;
        gap: 1rem;  
    }
  
    .profile-text h1 {
        font-weight: bold;
        font-size: 1.0rem; 
        letter-spacing: 2px; 
        color: #fff; 
        text-transform: uppercase;
        line-height: 1.4; 
        text-align: center;
        margin-top: 10rem; 
    }

    .profile-text p{
        
        font-size: 0.6rem;
    }
    .contact-section {
        max-width: 90%;  
        padding: 1rem;   
        margin: 1rem auto;  
    }
}
#laddaCv {
    pointer-events: auto; 
    display: block; 
    opacity: 1; 
  }

  /* Styling för knappen för ljust/mörkt läge */
#lightModeBtn {
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  #lightModeBtn:hover {
    transform: scale(1.05); /* Liten förstoring vid hover */
  }
  
  #lightModeBtn:active {
    transform: scale(0.98); /* Liten minskning när knappen trycks */
  }
  
  body.light-mode #lightModeBtn {
    background-color: #000000; 
    color: #ffffff; 
    border: 1px solid #ccc;
  }
 
  #cvModal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    color:#484646;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 360px;
    bottom: 10px;
}
